# Auto-detect text files
* text=auto

# Python
*.py text diff=python

# Markdown
*.md text

# Binary
*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
